.footer{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__left{
    display: block;
    position: relative;
    float: left;
    width: 53%;
    .left-contacts{
      display: block;
      position: relative;
      max-width: 213px;
      margin: 78px auto 84px auto;
      font-family: 'Roboto', sans-serif;
      h3{
        color: #212222;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
      }
      p{
        font-size: 15px;
        font-weight: 400;
        line-height: 40px;
        margin: 0;
        &:last-of-type{
          margin-bottom: 30px;
        }
      }
      .contacts-partners{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        h3{
          margin-bottom: 10px;
        }
        span{
          display: block;
          position: relative;
          float: left;
          width: 50%;
          margin-bottom: 10px;
        }
      }

    }
  }
  &__right{
    display: block;
    position: relative;
    float: left;
    width: 47%;
    box-shadow: 3px 9px 27px rgba(3, 3, 3, 0.15);
    background-color: #ffffff;
    form{
      display: block;
      position: relative;
      max-width: 304px;
      margin: 104px auto 84px auto;
      font-family: 'Montserrat', sans-serif;
      .contact__item{
        display: block;
        position: relative;
        width: 100%;
        span{
          position: absolute;
          top: 10px;
          color: red;
          display: block;
          right: 10px;
        }
      }

      button{
        width: 228px;
        margin: 10px auto;
        border: none;
        display: block;
        height: 39px;
        background-color: #ffc80a;
        background-image: linear-gradient(-11deg, #f94200 0%, #f94200 2%, #f94200 100%);
        color: #ffffff;
        font-size: 15px;
        letter-spacing: normal;
        font-weight: 700;
        text-transform: uppercase;
      }
      input{
        width: 100%;
        border: 1px solid #b7b7b7;
        height: 35px;
        padding: 0 16px;
        color: #2c2c2c;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 10px;
        &::placeholder{
          font-size: 13px;
          font-weight: 400;
        }
      }
      textarea{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 13px 16px;
        height: 95px;
        max-height: 95px;
        min-height: 95px;
        border: 1px solid #b7b7b7;
      }
      .error-box {
        position: absolute;
        top: 5px;
        color: red;
        right: 0;
        height: 30px;
        width: 30px;
        display: block;
        font-size: 25px;
        font-weight: 700;
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
      .correctly {
        background: url(../img/icons/correctly.png) center center no-repeat;
      }
      .contacts__item {
        display: block;
        position: relative;
        .contacts form .error-box {
          position: absolute;
          top: 0;
          color: red;
          right: 0;
          height: 15px;
          width: 15px;
          display: block;
        }
      }
    }

  }

}